@media screen and (max-width: 1440px) {
  .container {
    align-items: center;
  }
  .slider-aboutus {
    max-width: 450px;
  }
  .slider-contact {
    max-width: 530px;
  }
  .icon-item {
    margin-right: 20px;
  }
  .contact-icon {
    margin-right: 30px;
  }
  .container-left {
    padding: 0;
    margin-left: 120px;
  }

  .right-img {
    width: 1050px;
    height: 100%;
  }
  .right-img img {
    object-position: 348px 100px;
  }
  .right-title {
    font-size: 40px;
  }
}
